.search {
    padding-top: 1%;
    width: 100%;
    .input-group {
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
        font-size: 38%;
        padding: 0 1%;
        padding-top: 1%;
        box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.004), 0px 2px 2px 0px rgba(0, 0, 0, 0.048), 0px 1px 5px 0px rgba(0, 0, 0, 0.536);
        margin: 0 2%;
        margin-top: 0;
        .content {
            display: flex;
            align-items: center;
            color: green;
            font-size: 350%;
            font-weight: bold;
        }
        .input {
            width: 98%;
            padding-left: 1%;
            height: 33px;
            margin-bottom: 1.5%;
            border: 1.5px solid #ccc;
            border-radius: 5px;
            font-size: 250%;
        }
    }
}