.list-form {
    &-input {
        width: 95%;
    }
    .list-parient {
        &-title {
            display: flex;
            margin-top: 10px;
            .titles {
                color: #28b76b;
                font-weight: bold;
                line-height: 1.2;
                padding-top: 10px;
                width: 170px;
                height: 30px;
                background: white;
                border-radius: 6px;
                text-align: center;
            }
        }
        &-form {
            background: white;
            border-radius: 6px;
            &-cout {
                background: green;
                width: 94%;
                height: 50px;
                border-radius: 6px;
                text-align: center;
                color: white;
                padding-top: 20px;
                font-size: 19px;
                margin: 0 3%;
            }
            &-table {
                margin: 3% 3%;
                height: 200px;
            }
            &-search {
                display: flex;
                margin: 3% 3%;
                &-input {
                    width: 280px;
                    margin-right: 65px;
                }
            }
        }
    }
}