.infor-form {
    .form-patient {
        display: flex;
        margin: 0 30px;
        .patient-code {
            line-height:1.5rem;
        }
        .form-patient1 {
            padding-right: 30%;
        }
    }
}